<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>OCAP</display-name>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>es.jcyl.framework.JCYLActionServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>ApplicationResources</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/OCAP-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>inicio.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>bean.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/struts-bean_1_0.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>html.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/struts-html_1_0.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>logic.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/struts-logic_1_0.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>template.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/struts-template_1_0.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>tiles.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/struts-tiles_1_0.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>nested.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/struts-nested_1_0.tld</taglib-location>
    </taglib>
  </jsp-config>
  <env-entry>
    <env-entry-name>configurationRepository</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/WEB-INF/config/ConfigurationRepository.xml</env-entry-value>
  </env-entry>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha.jpg</url-pattern>
  </servlet-mapping>
</web-app>